*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

header{
    background-color: white;
}

/* logo */

#logo {
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-left: 50px;
}


h1{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 800;
}

/* Actions */

.add-task, .add-section{
    height: 30px;
    width: 100px;
    border-radius: 5px;

}

.add-task {
    background-color: #1E90FF;
    color: white;
    border: 0 solid white;
}

.add-section {
    color: #8D868B;
    background-color: white;
    border: 2px solid #8D868B;
}

/* Utility */

.list-title {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.check, .cross, .tag{
    display: inline-block;
    margin-bottom:10px;

}

.tag{
    font-size: 13px;
}

.check{

    height:20px;
    width: 20px;
    border: 1px solid lime;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: lime;
    
}

.cross{
    height:20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: red;
}

.editorial {
    height: 20px;
    width: 70px;
    color: white;
    background-color: #45ABEA;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.goals{
    height: 20px;
    width: 70px;
    color: white;
    background-color: #9C72E4;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.recruiting{
    height: 20px;
    width: 70px;
    color: white;
    background-color: #64C0A9;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.mobile{
    height: 20px;
    width: 70px;
    color: white;
    background-color: #F29E33;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.website{
    height: 20px;
    width: 70px;
    color: white;
    background-color: #D863A1;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

.sales{
    height: 20px;
    width: 70px;
    color: white;
    background-color: #B0C926;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}

/* Layout */

#background-main{
    width: 50%;
    margin: 20px auto;
}

main{
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 0 0 5px 5px ;
}

#action{
    background-color: white;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 5px 5px 0 0;
}
